body {
  font-size: 10px;
  background-image: url("./background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: white;
}
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.key {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid black;
  /* border-color: rgba(255, 223, 42, 0.756); */
  align-items: center;
  margin: 1rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}
.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
kbd {
  display: block;
  font-size: 2rem;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}